.autocomplete-suggestions {
    border: 2px solid #999;
    background: #fff;
    overflow: auto;
    width: 300px;
    z-index: 1000;
    font-size: 14px;
}
.autocomplete-suggestion { border: 1px solid rgba(168, 169, 168, 0.8); padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: rgb(221, 222, 221); }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* General Styles */
body {
    background-color: #C8E6C9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #FF4081;
}

/* Main Content Styles */
.container {
    display: flex; /* Use the Flexbox layout */
    justify-content: center; /* Vertically arrange content */
    align-items: center; /* Centered vertically */
    flex-direction: column; /* Vertically arrange content */
    text-align: center;
    padding: 40px;
}

/* Form Styles */
input[type="text"] {
    width: 23%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #1976D2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0D47A1;
}

/* Flex container styles */
#search-form {
    display: flex; /* Use Flexbox to align inputs in a row */
    align-items: center; /* Vertically center the inputs */
    width: 100%;
    max-width: 900px;
    gap: 10px; /* Add space between inputs */
}

/* Limit the genre list width, and have the content wrap automatically */
#genre-list, #title-list {
    display: flex;             /* Use the Flexbox layout */
    flex-wrap: wrap;           /* Allows content wrap */
    justify-content: center;   /* Centered horizontally */
    max-width: 800px;          /* Limit the maximum width and make sure it's not too wide */
    margin: 0 auto;            /* Center the entire block horizontally */
    gap: 10px;                 /* Control the spacing between each genre/title */
}

/* Style for each link */
#genre-list a, #title-list a {
    text-decoration: none;
    color: rgba(252, 247, 247, 0.9);
    padding: 5px 10px;
    border: 2px solid rgba(2, 159, 2, 0.75);
    border-radius: 5px;
    background-color: rgba(2, 159, 2, 0.75); /* fill color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* hover effect */
#genre-list a:hover, #title-list a:hover {
    background-color: #038f03;
    text-decoration: underline;
}
