/* General Styles */
body {
    background-color: #C8E6C9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

header h1 {
    color: white;
    margin: 0;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #FF4081;
}

/* The title color */
h1 {
    color: #517a51;
    text-align: center;
}

/*!* Page background color *!*/
/*body {*/
/*    background: linear-gradient(to right, #fdeed3, #efbeef);*/
/*}*/

/* Add a dark border to the table */
table {
    border: 3px solid #7dab7d;
}

/* Page prev/next Controls */
.pagination-controls {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination-controls button {
    margin: 0 10px;
}

/* 表格头部样式 */
.table-header-highlight {
    background-color: #7dab7d; /* 深紫色背景 */
    color: rgba(91, 19, 6, 0.6);
    font-weight: bold;
    font-size: 18px;
}

.table-header-highlight th {
    padding: 12px;
    border-bottom: 5px solid #7dab7d; /* 边框加深颜色 */
}

/* 表格主体行悬停效果 */
.table-striped tbody tr:hover {
    background-color: rgba(237, 231, 246, 0.5); /* 浅紫色悬停效果 */
}
